/* fonts */
@font-face {
  font-family: Prototype;
  src: url(./fonts/Prototype.ttf);
}

/*********** Background colors************/
.background-color-corporation {
  background-color: rgb(255, 204, 100);
}

.background-color-automated {
  background: linear-gradient(#09aa09, #09aa0988, #09aa09);
}

.background-color-active {
  background: #3b9ae3;
}

.background-color-events {
  background: #ee792b;
}

.background-color-prelude {
  background-color: rgb(235, 118, 171);
}

.background-color-colony {
  background-color: rgb(158, 145, 128);
}

.background-color-global {
  background-color: #fff;
}
/*********************************************/

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
  font-family: Prototype;
  float: left;
  position: relative;
  background: #eeeeee;
  background: linear-gradient(
    to bottom right,
    #ffffff,
    #aaaaaa,
    #eeeeee,
    #cecece,
    #dddddd,
    #eeeeee,
    #cccccc
  );
  width: 240px;
  height: 310px;
  font-family: Prototype;
  font-size: 18px;
  margin: 15px;
  margin-bottom: 10px;
  border-top: 4px solid rgb(221, 221, 221);
  border-left: 4px solid rgb(221, 221, 221);
  border-bottom: 4px solid rgb(137, 137, 137);
  border-right: 4px solid rgb(137, 137, 137);
  border-radius: 20px;
  box-shadow: 0 0 2px 1px black;
}

.card-title {
  text-transform: uppercase;
  font-family: Prototype;
  float: left;
  margin-top: 36px;
  margin-left: -1px;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
}

.card-price {
  float: left;
  font-family: Prototype;
  font-size: 26px;
  border-top: 2px solid rgb(221, 221, 221);
  border-left: 2px solid rgb(221, 221, 221);
  border-bottom: 2px solid rgb(137, 137, 137);
  border-right: 2px solid rgb(137, 137, 137);
  background: rgb(255, 228, 4);
  background: linear-gradient(
    rgb(255, 208, 4),
    rgb(255, 255, 104),
    rgb(255, 208, 4),
    rgb(255, 208, 4)
  );
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 10px;
  text-align: center;
  /*margin-top: -76px;
  margin-left: -7px; */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.card-key {
  float: left;
  font-family: Prototype;
  width: 36px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  /*margin-top: -64px;
  margin-left: 50px;*/
  font-size: 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 0 2px rgba(0, 0, 0, 0.3);
  background: linear-gradient(#fff, #aaa);
  border-radius: 2px;
  border-top: 2px solid rgb(221, 221, 221);
  border-left: 2px solid rgb(221, 221, 221);
  border-bottom: 2px solid rgb(137, 137, 137);
  border-right: 2px solid rgb(137, 137, 137);
}

.card-tag {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 0 0 2px rgba(0, 0, 0, 0.3);
  /*position: absolute; */
  margin-left: 5px;
  width: 40px;
  height: 40px;
  background-size: 42px 42px;
  background-position: -1px -1px;
  text-align: center;
  border-radius: 50%;
  border-top: 2px solid rgb(221, 221, 221);
  border-left: 2px solid rgb(221, 221, 221);
  border-bottom: 2px solid rgb(137, 137, 137);
  border-right: 2px solid rgb(137, 137, 137);
  background-color: white;
  margin-top: -6px;
}

.card-tag-position0 {
  margin-left: 200px;
}

.card-tag-position1 {
  margin-left: 152px;
}

.card-tag-position2 {
  margin-left: 104px;
}

.cardHeaderTest {
  display: flex;
  width: 110%;
  justify-content: space-between;
  align-items: center;
}

.tagContainer {
  display: flex;
}

.blaHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
